<h1 class="pet-header shadow-sm"><%= @pet.name %></h1>
<div class="container">
  <div class="top-margin row">
    <div class="col-12 col-md-12 col-lg-8 mx-auto">
      <div class="pet-details shadow-sm mb-5">
        <h3>Pet Details</h3>
        <img src="https://source.unsplash.com/collection/3576904/200x200" alt="pet photo" class="rounded float-right">
        <ul class="list-unstyled">
          <li><%= @pet.species %></li>
          <li><%= @pet.color %></li>
          <li><%= @pet.address %></li>
          <% if @pet.found_days_ago == '0 days ago' %>
            <li>This pet was found today</li>
          <% else %>
            <li>This pet was found <%= @pet.found_days_ago %></li>
          <% end %>
        </ul>
        <%= link_to 'Unlist This Pet', pet_path(@pet), method: :delete, data: { confirm: "Delete?" } , class: "btn btn-warning mb-3" %><br>
        <%= link_to 'Go Back', root_path, class: 'card-link border-right pr-3' %>
        <%= link_to 'Update Pet', edit_pet_path, class: 'card-link pr-3' %>
      </div>
    </div>
  </div>
</div>
